<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="WellSky-Stable" value="https://www.myget.org/F/ksi-core/auth/df32a8ba-0288-466a-9401-0cf5ea7f2e6e/api/v3/index.json" />
    <add key="WellSky-PreRelease" value="https://www.myget.org/F/wellsky-prerelease/auth/7232c108-c0d9-4ff8-af04-87c6fe0b0ac7/api/v3/index.json" />
</packageSources>
</configuration>
