@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<h3>Idea for the project :</h3>

<p> Using WebAppFactory to run UI Tests with Selenium which hosts a website in memory and eliminates the need to spin up an environment. Advancement to this can be running the tests in Circle CI pipeline. </p>
