@page
@model TeamMemberModel

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<ul style="list-style-type: none; display: inline-block;">
    <li>Johnny Serrano</li>
    <li>Deepika Dasari</li>
</ul>

<ul style="list-style-type: none; display: inline-block;">
    <li>Sayali Mohadikar</li>
    <li>Ray Yelle</li>
</ul>
